.idea
.vscode
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php-cs-fixer.cache
/vendor
/storage/*.key
/public/storage
/public/hot
/node_modules
npm-debug.log
.DS_Store
dbdoc
dist
public/build
storage/api-docs/
doc/*.pdf
