@import 'mixins.scss';

$bg-gray: #f7f7f7;
$bg-gray2: #ebeaea;
$bg-gray3: #f5f5f5;
$bg-gray4: #f8f8f8;
$color-white: #fff;
$color-white2: #f3efff;
$color-black: #3d3c3c;
$color-black2: #000;
$color-black3: #424242;
$color-black4: #717171;
$color-black5: #333;
$color-lightgray: #ededed;
$color-lightgray2: #e0e0e0;
$color-lightgray3: #d9d9d9;
$color-lightgray4: #fafafa;
$color-lightgray5: #d2d2d2;
$color-lightgray6: #bdbdbd;
$color-lightgray7: #E0E0E0;
$color-darkgray: #6f6e6e;
$color-gray: #b7b6b6;
$color-gray2: #f3f2f2;
$color-gray3: #dbdada;
$color-gray4: #B7BCCB;
$color-gray5: #969696;
$color-gray6: #acacac;
$color-gray7: #B9B9B9;;
$color-purple: #8E6DF2;
$color-purple2: #B9B4FE;
$z-index-header: 100;
$z-index-banner: 99;
$z-index-popup: 105;
$z-index-loading: 120;
$z-index-icon: 1;
$z-index-select: 2;
$z-index-text: 3;
$z-index-bg: -2;
$z-index-bg2: -1;
$color-blue: #8dccf0;
$color-blue2: #4bbeff;
$color-blue3: #67c5ff;
$color-blue4: #e7ecff;
$color-blue5: #7F8EBD;
$color-blue6: #67C5FF;
$color-blue7:#7f8ebd;
$color-blue8: #6274AB;
$color-blue9:#BECAEF;
$color-pink: #ecb7ea;
$color-pink2: #ffaaae;
$color-pink3: #F3EFFF;
$color-pink4: #F1F1F7;
$color-pink5: #F1F1F6;
$color-pink6: #FF9BA0;
$color-pink7: #DD2265;

$header-height: 90px;