.content {
  padding: 0 1rem;
  .mask {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2rem);
    height: 100%;
    overflow: hidden;
    background: linear-gradient(
      180deg,
      $bg-gray4 0%,
      rgba(255, 255, 255, 0.9) 14.06%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 0.9) 83.85%,
      $bg-gray4 100%
    );
    opacity: 0.8;
    &::before {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      z-index: -1;
      content: '';
      background: linear-gradient(95.92deg, #a3bdf2 12.11%, #ffaac2 109.9%);
      border-radius: 0.75rem;
    }
    &::after {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      margin: 0.25rem;
      content: '';
      background: linear-gradient(
        180deg,
        $bg-gray4 0%,
        rgba(255, 255, 255, 0.9) 14.06%,
        rgba(255, 255, 255, 0.9) 50%,
        rgba(255, 255, 255, 0.9) 83.85%,
        $bg-gray4 100%
      );
      border-radius: 0.4rem;
    }
  }
  .box {
    position: absolute;
    top: calc(50% - 6rem);
    z-index: 2;
    width: calc(100% - 2rem);
    margin: auto;

    .boxContent {
      width: calc(50% + 3.75rem);
      padding: 1.5rem 0;
      margin: auto;
      background: linear-gradient(95.92deg, #a3bcf2 12.11%, #ffaac2 109.9%);
      border-radius: 0.75rem;
      box-shadow: 0 0 16px rgba(163, 188, 242, 0.5);
      opacity: 0.9;
    }

    .image {
      display: flex;
      justify-content: center;
    }

    span {
      display: block;
      margin-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5;
      color: $color-white;
      text-align: center;
      @include yugothic-font;
    }
  }
}
