.content {
  width: 100%;
  height: 100%;
  padding-top: 4.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2.5625rem 1rem;
    background: $color-white;
    border-radius: 8px;
  }
  .scrollable {
    flex-grow: 1;
    overflow: scroll;
  }
  .heading {
    @include yugothic-font();

    padding-bottom: .75rem;
    margin: 0 0 2rem 0;
    font-size:  1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: $color-black3;
    color: $color-black;
    border-bottom: 1px solid $color-black3;
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .list {
    .item {
      display: flex;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      .image {
        width: 3.5rem;
        min-width: 3.5rem;
        height: 3.5rem;
        min-height: 3.5rem;
        margin-right: 1rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        @include yugothic-font();

        font-size: .875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        color: $color-black3;
      }
    }
  }
  .msg {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
    color: $color-black2;
  }
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    .button {
      width: 9.75rem;
      height: 2.8125rem;
    }
    input {
      width: 1.35rem;
      height: 1.35rem;
      margin-right: .75rem;
      border: 2px solid $color-darkgray;
      border-radius: 4px;
    }
    label {
      display: flex;
      align-items: center;
      height: 1.35rem;
      font-size: .875rem;
      font-weight: 500;
      color: $color-darkgray;
      a {
        text-decoration-line: underline;
      }
      span {
        display: block;
        vertical-align: middle;
      }
    }
    .confirm {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }
  }
  .debug {
    position: absolute;
    top: 0;
    left: 0;
    a {
      text-decoration: underline;
    }
  }
}
