.content {
  width: 100%;
  margin-top: 1rem;
  .title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    color: $color-black3;
    text-align: center;
    @include yugothic-font();
  }
  .image {
    padding: 0;
  }

  .description {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
    color: $color-black3;
    text-align: initial;
    @include yugothic-font();
  }
  .actions {
    margin: 1.5rem 0 0.75rem 0;
    > * {
      button,
      a {
        width: 2.625rem;
        height: 3.1875rem;
        padding: 0;
        color: $color-black4;
      }
    }
  }
}
